[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/FerneyOAmaya/DataLiteracy/blob/master/0_Python.ipynb)

#Introducción a Pyhton

Contenido:
1. Generalidades.
2. Tipos de datos.
3. Operadores.
4. Estructuras de control.

## 1.Generalidades

Algunos aspectos de Python:
- Emplea una nueva linea para completar el comando, no requiere punto y coma al final.
- Emplea identación (sangrado) en lazos, funciones, clases. Debe usarse al menos 1 espacio en blanco.

### 1.1. Variables

Las variables son creada al asignarles un valor por primera vez.

Para nombrar variables:
- Son sensibles a las mayúsculas y minúsculas (case-sensitive), las variables CARRO y carro son diferentes.
- Su nombre debe iniciar con letra o guión bajo (_), no con un número.
- Pueden contener solo caracteres alfanuméricas y guión bajo  (A-z, 0-9, _ ).

El comando print() es empleado para visualizar el contenido de una variable.

Asignar a la variable x el valor 5 y luego visualizar el valor:

In [0]:
x = 5
print(x)

5

Pueden asignarse valores a múltiples variables en una línea:

In [0]:
x, y, z = "Manzana", "Azul", "Edificio"
print(x,y,z)

Manzana Azul Edificio

### 1.2. Comentarios

Pueden ser de una o varias líneas:

\# Comentario de una sola línea
<br> <br>
""" <br>
Comentario <br>
de varias <br>
líneas <br>
"""

## 2.Tipos de datos

Los tipos de datos nativos de Python son:
- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

Tomado de: 
https://www.w3schools.com/python/python_datatypes.asp

Se abordarán los tipos numéricos int, float, complex; las cadenas de caracters (strings), las listas (list), y los tipos tuple, bool y range.

El comando type() entrega el tipo de datos de una variable.

### 2.1.	Tipos numéricos

Hay varios tipos de representación numerica: enteros (int), punto flotante (float) y números complejos (complex). 

Los valores decimales son separados por punto.

Los enteros:

$$-\infty, ...,-2,-1,0,1,2,, ...,\infty$$

In [16]:
a = 5       #Entero
b = 5.0     #Flotante
c = 1+2j    #Complejo
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

### 2.2. Cadenas de caracteres

Las cadenas de caracteres (strings) pueden conformarse con comillas simples 'cadena de caracteres' o dobles "cadena de caracteres":

Cada elemento de la cadena puede indexarse de dos formas:
- índice positivo: el índice del primer elemento es 0.
- índice negativo: el índice del último elemento es -1.

In [8]:
a = "Hol@ mundo"
a = 'Hol@ mundo'
print(a[3], a[-7])

@ @

Se puede acceder a varios elementos:

In [22]:
a = 'Hol@ mundo'
print(a[0:3])    #Caracteres del 0 al 2: 0='H', 1='o', 2='l'
print(a[:4])     #Caracteres del 0 al 3: 0='H', 1='o', 2='l', 3='@' 
print(a[5:])     #Caracteres del 5 al final
print(a[0:9:2])  #Caracteres del 0 al 8, agrupa de a 2 y accede al último

Hol
Hol@
mundo
Hl ud

Pueden insertarse caracteres de escape en la cadena de caracteres, algunos son:
- \\'	Single Quote	
- \\\	Backslash	
- \n	New Line	
- \r	Carriage Return	
- \t	Tab	
- \b	Backspace	
- \f	Form Feed	

Tomado de:
https://www.w3schools.com/python/gloss_python_escape_characters.asp

In [15]:
a = 'Hola\nmundo'
print(a)

Hola
mundo

Operaciones con strings:
- .upper()
- .replace()
- .find()
- Ejemplo de unión de dos cadenas: a = 'Hola' + 'mundo'

El número de elementos de cadena de caracteres se obtiene con: len().

In [34]:
a = 'Hola' + ' ' + 'mundo'
print(a, len(a))

Hola mundo 10

### 2.3. Listas

Las listas (List) son colecciones o arreglos de elementos ordenados, no necesariamente son del mismo tipo y que pueden modificarse.

Se indexan en forma similar a las cadenas de caracteres (str).

In [25]:
a = [1, 2, 2.2, 3.5, 'python']
print(a[2]) 
print(a[2:4])

2.2
[2.2, 3.5]

Operaciones con listas:
- .extend()
- .append()
- .del()
- .split(): conforma una lista separando una cadena de caracteres a partir de un caracter específico, por defecto es espacio.

El número de elementos de la lista: len()

In [35]:
a = [1, 2, 2.2, 3.5, 'python']
print(len(a))
print('Hola mundo'.split())
print('A,B,C,D'.split(','))

5
['Hola', 'mundo']
['A', 'B', 'C', 'D']

### 2.4. Otros tipos de datos y especificación del tipo de datos

Los tipos booleano pueden tener solo dos valores: True, False.

Las tuplas (Tuple) son una secuencia ordrdenada de elementos como en una lista. La diferencia es que una vez creada la tupla, esta no puede modificarse, solo añadir elementos.

Los tipos range se crean con: range(). Por ejemplo, con el comando range(3) se crean los valores 0, 1, 2.

Puede especificarse un tipo de variable con los comandos:
- float()
- int()
- str()
- bool()
- complex()
- list()

In [38]:
print(int(2.34))
print(float(2))
print(complex(2))

2
2.0
(2+0j)

## 3.Operadores

El contenido de esta sección es tomado de:
https://www.w3schools.com/python/python_operators.asp

Python clasifica los operadores en los siguientes grupos:
- Aritméticos
- Asignamiento
- Comparación
- Lógicos
- De identidad
- De mebresía
- Entre bits

### 3.1. Operadores aritméticos

Empleados entre variables numéricas:

- Adición +	
- Subtracción -	
- Multiplicación *	
- División	/	
- Módulo de la división %	
- Exponenciación **	
- Resultado de la división redondeando al menor entero //

In [45]:
x = 7
y = 3
print(x+y, x-y, x*y, x/y)
print(x%y, x**y, x//y)

10 4 21 2.3333333333333335
1 343 2

### 3.2. Operadores de asignamiento

Para asignar un valor a una variable se emplea el operador =.

Los operadores de asignamiento permiten simplificar la escritura al emplear operadores aritméticos:

por ejemplo, al escribir:

x 'operador' = 'valor'

equivale a:

x = x 'operador' 'valor'

En estos ejemplos, la variable x debió asignarse previamente.

Ejemplos:

In [50]:
x = 7
print(x)
x +=3
print(x)
x *=3

5
8

### 3.3. Operadores de comparación

Empleados para comparar dos valores, devuelve un valor lógico:
- Igual ==	
- No igual !=	
- Mayor que >	
- Menor que <	
- Mayor o igual que >=	
- Menor o igual que <=

In [51]:
x = 7
y = 3
print(x == y)
print(x != y)
print(x > y)

False
True
True

### 3.4. Operadores lógicos

Empleados para combinar operaciones de comparación:

- and
- or
- not

In [53]:
x = 7
y = 3
print(x==y and x>y)
print(x!=y and x>y)
print(not(x==y and x>y))

False
True
True

### 3.5. Operadores de identidad

Empleados para identificar si dos variables comparten la misma ubicación en memoria:
- is
- is not

In [55]:
x = 7
y = 3
z = x
print(x is y)
print(x is z)

False
True

Es importante tener en cuenta que al asignar una variable a otra, la nueva variable comparte la misma posición de memoria, como ocurre con las variables x y z en el ejemplo anterior.

### 3.6. Operadores de membresía

Empleados para saber si una secuencia está presente o no en un objeto, devuelve un valor lógico:

- in
- not in

In [58]:
x = ['manzana', 'mango']
print('mango' in x)
print('pera' in x)

True
False

### 3.7. Operaciones entre bits

Realizan la operación indicada bit a bit:

- & 	AND
- |	OR
- ^	XOR
- ~ NOT
- <<	desplazamiento a izquierda insertando ceros
- \>>	desplazamiento a derecha conservando el signo

In [60]:
x = 7     #En binario en 4 bits es '0111'
y = 3     #En binario en 4 bits es '0011'
print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << y)
print(x >> y)

3
7
4
-8
56
0

## 4. Estructuras de control

Las estructuras de control permiten modificar el flujo de ejecución de las instrucciones:
- if elif else
- for
- while

En Python no se tiene la estructura switch.

En estas estructuras debe emplearse identación (sangrado).

### 4.1 if elif else

El if debe tener instrucciones, si por alguna razón no se requieren, puede colocarse pass para evitar el error.

In [62]:
x = 7
y = 3

if x>y:
 print('If: mayor')
elif x<y:
 print('Elif: menor')
else:
 print('Else: igual')

If: mayor

### 4.2 for

La forma común de usar el for es como se presenta en el ejemplo:

In [64]:
for x in range(3):
 print(x)

0
1
2

### 4.3 while

La forma común de emplear el while es como se presenta en el ejemplo:

In [65]:
x = 0
while(x < 4):
 print(x)
 x += 1

0
1
2
3