[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/FerneyOAmaya/DataLiteracy/blob/master/0_Python.ipynb)

#Introducción a Python

Se presenta un breve resumen de los principales elementos para programar empleando Python.

Por:

Ferney Amaya Fernández <br>
https://ferneyoamaya.github.io/ <br><br>

Contenido:
1. Generalidades.
2. Tipos de datos y operaciones con datos.
3. Estructuras de control.
4. Referencias.

## 1.Generalidades

Algunos aspectos de Python:
- Emplea una nueva linea para completar el comando, no requiere punto y coma al final.
- Emplea identación (sangría) en lazos, funciones, clases. Debe usarse al menos 1 espacio en blanco.

### 1.1. Variables

Las variables son creada al asignarles un valor por primera vez.

Para nombrar variables:
- Son sensibles a las mayúsculas y minúsculas (case-sensitive), las variables _Carro_ y _carro_ son diferentes.
- Su nombre debe iniciar con letra o guión bajo (_), no con un número.
- Pueden contener solo caracteres alfanuméricas y guión bajo  (A-z, 0-9, _ ).
- No emplear palabras reservadas.

Es importante tener en cuenta que al asignar una variable a otra, la nueva variable comparte la misma posición de memoria. Revisar la sección "Operadores de identidad".

La función print() es empleada para visualizar el contenido de una variable.

Asignar a la variable x el valor 5 y luego visualizar el valor:

In [ ]:
x = 5
print(x)

5

Pueden asignarse valores a múltiples variables en una línea:

In [ ]:
x, y, z = "Manzana", "Azul", "Edificio"
print(x,y,z)

Manzana Azul Edificio

### 1.2. Comentarios

Pueden ser de una (empleando el caracter #) o varias líneas (empleando 3 comillas simples ' o 3 comillas dobles "):

\# Comentario de una sola línea
<br> <br>
''' <br>
Comentario <br>
de varias <br>
líneas <br>
'''

### 1.3. Tipos de datos
 
Los tipos de datos nativos de Python son:
- Numeric Types:	int, float, complex
- Boolean Type:	bool
- Text Type:	str
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Binary Types:	bytes, bytearray, memoryview

Tomado de: 
https://www.w3schools.com/python/python_datatypes.asp.

La función type() entrega el tipo de datos de una variable.

### 1.4. Operadores

Python clasifica los operadores en los siguientes grupos:
- Aritméticos
- Asignamiento
- Comparación
- Lógicos
- De identidad
- De mebresía
- Entre bits

Más información en:
https://www.w3schools.com/python/python_operators.asp

### 1.5. Operador de asignamiento

Para asignar un valor a una variable se emplea el operador =. 
Puede simplificarse la escritura, para un valor de x, al escribir:

x 'operador' = 'valor'

equivale a:

x = x 'operador' 'valor'

Ejemplos:

In [ ]:
x = 7
x +=3
print(x)
x *=3 
print(x)

10
30

## 2.Tipos de datos numéricos y operadores aritméticos

En general, los números pueden ser: enteros, reales o complejos. Los enteros:

$$-\infty, ...,-2,-1,0,1,2,, ...,\infty$$

Los valores reales son los que tienen cifras decimales. Los valores complejos tienen además parte imaginaria. 

En Python los tipos numéricos son: los enteros (int), los reales se representan en punto flotante (float) y también se tienen los números complejos (complex). Los valores decimales son separados por punto en Python.

Lafunción type() entrega el tipo de variable.

In [ ]:
a = 5       #Entero
b = 5.0     #Flotante
c = 1+2j    #Complejo
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

### 2.1. Operadores aritméticos

Empleados entre variables numéricas:

- Adición +	
- Subtracción -	
- Multiplicación *	
- División	/	
- Exponenciación **	
- Módulo de la división %	
- Resultado de la división redondeando al menor entero //

Algunos ejemplos son:

In [ ]:
x = 7
y = 3
print(x+y, x-y, x*y, x/y, x**y)
print(x%y, x//y)

10 4 21 2.3333333333333335 343
1 2

### 2.2. Especificar el tipo de dato numérico

Puede especificarse el tipo de dato (casting) al crear una variable o asignarle un valor con las funciones:
- float()
- int()
- complex()

A continuación se presentan algunos ejemplos:

In [ ]:
vint = int(2.34)
print(vint, type(vint))
vflo = float(2)
print(vflo, type(vflo))
vcom = complex(2)
print(vcom, type(vcom))

2 <class 'int'>
2.0 <class 'float'>
(2+0j) <class 'complex'>

## 3.Tipo de dato booleano y operaciones

El tipo de dato booleano (bool) en Python solo admite los valores True y False. 

Al realizar operaciones de comparación y operaciones lógicas se obtiene como resultado un tipo de dato booleano.

### 3.1. Operadores de comparación

Empleados para comparar dos valores, devuelve un valor lógico:
- Igual ==	
- No igual !=	
- Mayor que >	
- Menor que <	
- Mayor o igual que >=	
- Menor o igual que <=	

Algunos ejemplos:

In [ ]:
x = 7
y = 3
print(x == y)
print(x != y)
print(x > y)

False
True
True

### 3.2. Operadores lógicos

Empleados para combinar operaciones de comparación:

- and
- or
- not

Algunos ejemplos:

In [ ]:
x = 7
y = 3
print(x==y and x>y)
print(x!=y and x>y)
print(not(x==y and x>y))

False
True
True

## 4.Cadenas de caracteres y operaciones entre cadenas

Las cadenas de caracteres (strings) son arreglos de caracteres con las siguientes características:
- Contiene elementos ordenados
- Sus elementos que NO pueden modificarse
- Admite duplicados
- El tipo de dato es str para la cadena completa y para cada elemento.

Las cadenas de caracteres pueden definirse empleando comillas simples o dobles. Es decir 'Hola' es lo mismo que "Hola":

In [ ]:
str1 = "Hol@ mundo"
str2 = 'Hol@ mundo'
print(str1)
print(str2)

Hol@ mundo
Hol@ mundo

### 4.1.Indexación en cadenas de caracteres

Cada elemento de la cadena de caracteres puede indexarse de dos formas:
- índice positivo: el índice del primer elemento es 0.
- índice negativo: el índice del último elemento es -1.

Ejemplo:

In [ ]:
a = 'Hol@ mundo'
print(a[3])
print(a[-7])

@
@

Se puede acceder a varios elementos a a una rebanada (slice) de una cadena:

In [ ]:
a = 'Hol@ mundo'
print(a[0:3])    #desde posición 0 a 2: 0='H', 1='o', 2='l'
print(a[:4])     #desde posición 0 a 3: 0='H', 1='o', 2='l', 3='@' 
print(a[5:])     #desde posición 5 a final
print(a[0:9:2])  #desde posición 0 a 8
print(a[0:9:2])  #desde posición 0 a 8, agrupa de a 2 y accede al primero del grupo
print(a[0:9:3])  #desde posición 0 a 8, agrupa de a 3 y accede al primero del grupo

Hol
Hol@
mundo
Hl ud
Hl ud
H@u

### 4.2.Caracteres de escape

En la cadena pueden insertarse caracteres de escape, algunos son:
- \\'	:Single Quote	
- \\\	:Backslash	
- \n	:New Line	
- \r	:Carriage Return	
- \t	:Tab	
- \b	:Backspace	
- \f	:Form Feed

In [ ]:
a = 'Hola\nmundo'
print(a)

Hola
mundo

Más información en: https://www.w3schools.com/python/gloss_python_escape_characters.asp

### 4.3. Operaciones entre cadenas de caracteres

El número de elementos de cadena de caracteres se obtiene con la función len():

In [ ]:
cadena = ' CURSO de python '
print(len(cadena))

17

Las operaciones simples con strings son la concatenación empleando el operador + y la repetición con el operador *:

In [ ]:
str1 = 'Hola '
str2 = str1 + ' ' + 'mundo'
str3 = 5*str1
print(str2)
print(str3)

Hola  mundo
Hola Hola Hola Hola Hola

A continuación se presentan algunos ejemplos de operaciones con strings:

In [ ]:
cadena = ' CURSO de python '
print(cadena.upper())             #en mayúsculas
print(cadena.lower())             #en minúsculas
print(cadena.strip())             #elimina espacios al inicio y al final
print(cadena.replace('de', '*'))  #reemplaza caracteres
print(cadena.split('de'))         #separa de acuerdo a un conjunto de caracteres

 CURSO DE PYTHON
 curso de python
CURSO de python
 CURSO * python
[' CURSO ', ' python ']

El mezclar cadenas de caracteres con números generará un error. Intente ejecutar las siguientes líneas en Python:

edad = 18 <br>
cadena = 'Hola mundo, tengo ' + edad + 'años' <br>
print(cadena) <br>

El conjunto de métodos integrados en Python para cadenas de caracteres (strings) puede revisarse en:
https://www.w3schools.com/python/python_ref_string.asp

### 4.4. Especificar el tipo de datos cadena de caracteres

Para especificar el tipo de datos cadena de caracteres (str) se emplea la función str() como se presenta en los siguientes ejemplos:

In [ ]:
a = str(2)
print(type(a))
a = str(2.5)
print(type(a))

<class 'str'>
<class 'str'>

## 5.Listas

Las listas (list) son colecciones o arreglos de elementos con las siguientes características:
- Son elementos ordenados
- Sus elementos que pueden modificarse
- Admite duplicados
- Los elementos no necesariamente deben ser del mismo tipo de datos.

Eu ejemplo de lista es el siguiente:

In [ ]:
a = [1, 2, 2.2, 3.5, 'python']
print(a)
print(type(a))

[1, 2, 2.2, 3.5, 'python']
<class 'list'>

### 5.1 Indexación en una lista

En una lista se indexan y se asignan valores de forma similar a las cadenas de caracteres (str).

In [ ]:
a = [1, 2, 2.2, 3.5, 'python']
print(a[3:5])
a[1:4] = ['verde']
print(a)

[3.5, 'python']
[1, 'verde', 'python']

### 5.2. Operaciones con listas
Algunas operaciones básicas con listas:

In [ ]:
a1 = ['naranja', 'pera']
a2 = ['mango', 'piña']
a = a1 + a2
print(a)
a = 3*a1
print(a)

['naranja', 'pera', 'mango', 'piña']
['naranja', 'pera', 'naranja', 'pera', 'naranja', 'pera']

Otras operaciones con listas:

In [ ]:
a = ['naranja', 'pera', 'mango', 'piña']
print(a.index('piña'))        #Indica la posición en que se enuentra el elemento
a.insert(3,'manzana')         #inserta elemento en el índice 3
print(a)
a.append('guayaba')           #adiciona elemento al final
print(a)
a.remove('pera')              #elimina un elemento especificado por valor
print(a)
a.sort()                      #ordena
print(a)
anum = [100, 50, 65, 82, 23]
anum.sort(reverse = True)
print(anum)
print(len(a))

3
['naranja', 'pera', 'mango', 'manzana', 'piña']
['naranja', 'pera', 'mango', 'manzana', 'piña', 'guayaba']
['naranja', 'mango', 'manzana', 'piña', 'guayaba']
['guayaba', 'mango', 'manzana', 'naranja', 'piña']
[100, 82, 65, 50, 23]
5

El conjunto de métodos integrados en Python para Listas puede revisarse en: https://www.w3schools.com/python/python_lists_methods.asp

### 5.3. Especificar el tipo de dato lista

Puede especificarse el tipo de dato lista con la función list():

In [ ]:
msg = "Hola mundo"
print(list(msg))

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

## 6.Tuplas

Las tuplas (tuple) pueden definirse como listas unmutables, sus características son:
- Son ordenados
- Sus elementos NO pueden modificarse
- Admiten cualquier tipo de datos
- Permiten duplicados.

La indexación en una Tupla es igual que en una lista. Para crear, indexar, obtener la longitud y visualizar el tipo de una variable Tupla:

In [ ]:
tup = ("a", 2.5, 3, "Python")
print(tup[0])
print(tup[-1])
print(tup[0:2])
print(len(tup))
print(type(tup))

a
Python
('a', 2.5)
4
<class 'tuple'>

Empaquetar (conformar o crear) y desempaquetar (extraer los valores) tuplas:

In [ ]:
v1 = "a"
v2 = 2.5
v3 = "Python"
tup = v1, v2, v3
print(tup, type(tup))
x1, x2, x3 = tup
print(x1,x2,x3)

('a', 2.5, 'Python') <class 'tuple'>
a 2.5 Python

Algunas operaciones básicas con tuplas son:

In [ ]:
t1 = ("piña", "mango")
t2 = (1.6, 2.3)
tup = t1 + t2
print(tup)
tup = 3*t1
print(tup)

('piña', 'mango', 1.6, 2.3)
('piña', 'mango', 'piña', 'mango', 'piña', 'mango')

Python solo tiene dos métodos con tuplas: count() e index():

In [ ]:
tup = ("a", 2.5, 3, "Python","a")
print(tup.index(2.5))     #Indica la posición en que se enuentra el elemento
print(tup.count("a"))     #Cuenta las veces que aparece "a"

1
2

## 7.Convertir entre listas, tuplas y cadenas de caracteres

Puede convertirse entre listas y tuplas con las funciones list() y tuple():

In [ ]:
tup = ("a", 2.5, 3, "Python","a")
lis = list(tup)
print(lis, type(lis))
lis[2] = "CAMBIO"
tup = tuple(lis)
print(tup, type(tup))

['a', 2.5, 3, 'Python', 'a'] <class 'list'>
('a', 2.5, 'CAMBIO', 'Python', 'a') <class 'tuple'>

Puede convertirse entre listas y cadenas de caracteres con las funciones split() y join():

In [ ]:
msg = "Hola mundo"
print(msg, type(msg))
lis = msg.split(" ")
print(lis, type(lis))
nuevo_msg = ",".join(lis)
print(nuevo_msg, type(nuevo_msg))

Hola mundo <class 'str'>
['Hola', 'mundo'] <class 'list'>
Hola,mundo <class 'str'>

## 8.Tipo range

la función range(start, stop, step) devuelve una variable tipo range que es una secuencia de números que inician en start, con incrementos dados por step y se detiene antes de stop.

También puede usarse como range(stop), donde start = 0 y step = 1.

Puede convertirse en una lista para observar sus valores.

In [ ]:
ran = range(0,7,2)
print(ran, type(ran), list(ran))
ran = range(5)
print(ran, type(ran), list(ran))

range(0, 7, 2) <class 'range'> [0, 2, 4, 6]
range(0, 5) <class 'range'> [0, 1, 2, 3, 4]

## 9.Diccionarios
Los diccionarios (dict) son usados para almacernar colecciones de pares de llave:dato (key:value) y tienen las siguientes características:
- A partir de la versión de Python 3.7 son ordenados
- Sus elementos pueden modificarse
- Admiten cualquier tipo de datos
- No permiten duplicados, los duplicados sobre-escriben los valores existentes.

Para crear,visualizar y observar el tipo de una variable diccionario:

In [ ]:
diccionario = {
  'Nombre': 'Juan',
  'Profesión': 'Ingeniero',
  'Edad': 19
}
print(diccionario)
print(type(diccionario))

{'Nombre': 'Juan', 'Profesión': 'Ingeniero', 'Edad': 19}
<class 'dict'>

Para acceder a un valor, modificar y eliminar valores en un diccionario:

In [ ]:
diccionario = {
  'Nombre': 'Juan',
  'Profesión': 'Ingeniero',
  'Edad': 19
}
print(diccionario['Profesión'])
print(diccionario['Edad'])
diccionario['Edad'] = 20
print(diccionario)
diccionario.pop('Profesión')
print(diccionario)

Ingeniero
19
{'Nombre': 'Juan', 'Profesión': 'Ingeniero', 'Edad': 20}
{'Nombre': 'Juan', 'Edad': 20}

Otras operaciones con diccionarios son:

In [ ]:
d = {
  'María': 'Nombre propio',
  'Correr': 'Verbo',
  'Casa': 'Sustantivo',
  'Jose': 'Nombre propio',
  'Jugar': 'Verbo',
}
print(d.get('Correr'))    #Obtiene un parámetro del diccionario 
print(d.keys())
print(d.values())

Verbo
dict_keys(['María', 'Correr', 'Casa', 'Jose', 'Jugar'])
dict_values(['Nombre propio', 'Verbo', 'Sustantivo', 'Nombre propio', 'Verbo'])

El conjunto de métodos integrados en Python para los diccionarios puede revisarse en: https://www.w3schools.com/python/python_dictionaries_methods.asp

## 10.Otros operadores

Otros operadores son:
- Operadores de identidad
- Operadores de membresía
- Operadores entre bits

### 10.1. Operadores de identidad

Empleados para comparar objetos:
- is: entrega True si dos objetos comparten la misma posición de memoria.
- is not: Comparte True si dos objetos NO comparten la misma posición de memoria.

Es importante tener en cuenta que al asignar una variable a otra, la nueva variable comparte la misma posición de memoria.

In [ ]:
a = 7
b = 7
c = a
x = 3
print(a is b)
print(a is c)
print(a is x)

True
True
False

Para copiar una variable sin compartir la misma posición de memoria se emplea la función copy(). con la función deepcopy() se copian todos los elementos, lo cual es útil por ejemplo para una lista.

In [ ]:
import copy
a = list(range(3))
b = copy.copy(a)
a is b

False

### 10.2. Operadores de membresía

Empleados para saber si un elemento o secuencia está presente o no en un objeto que puede ser un string, lista, tupla o diccionario, devuelve un valor lógico. Los peradores son:

- in
- not in

In [ ]:
s = 'Curso de Python MinTIC 2022'
print('En String: ','de' in s)

l = ['manzana', 'mango']
print('En lista: ', 'mango' in l)

d = {
  'María': 'Nombre propio',
  'Correr': 'Verbo',
  'Casa': 'Sustantivo',
  'Jose': 'Nombre propio',
  'Jugar': 'Verbo'
}
print('En diccionario: ', 'Correr' in d)

En String:  True
En lista:  True
En diccionario:  True

### 10.3. Operaciones entre bits

Realizan la operación indicada bit a bit:

- & 	AND
- |	OR
- ^	XOR
- ~ NOT
- <<	desplazamiento a izquierda insertando ceros
- \>>	desplazamiento a derecha conservando el signo

In [ ]:
x = 7     #En binario en 4 bits es '0111'
y = 3     #En binario en 4 bits es '0011'
print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << y)
print(x >> y)

3
7
4
-8
56
0

## 11.Estructuras de control

Las estructuras de control permiten modificar el flujo de ejecución de las instrucciones:
- if - elif - else
- for
- while

En estas estructuras debe emplearse indentación (sangría).

### 11.1 if elif else

El if debe tener instrucciones, si por alguna razón no se requieren, puede colocarse pass para evitar el error.

In [ ]:
x = 7
y = 3

if x>y:
 print('If: mayor')
elif x<y:
 print('Elif: menor')
else:
 print('Else: igual')

If: mayor

### 11.2 for

La forma común de usar el for es como se presenta en el ejemplo:

In [ ]:
for x in range(3):
 print(x)

0
1
2

### 11.3 while

La forma común de emplear el while es como se presenta en el ejemplo:

In [ ]:
x = 0
while(x < 4):
 print(x)
 x += 1

0
1
2
3

### 11.4 Comprensión de listas
La comprensión de listas ofrece en una linea la posibilidad de crear listas a partir de valores de una lista existente como se observa en los siguientes ejemplos:

In [ ]:
frutas = ['banano', 'pera', 'piña', 'mango']
fruta_ñ = [x for x in frutas if 'ñ' in x]
print('Frutas con ñ: ', fruta_ñ)

otras_pera = [x for x in frutas if x != 'pera']
print('Frutas diferentes a pera: ', otras_pera)

frutas_may = [x.upper() for x in frutas]
print('Frutas en mayúsculas: ', frutas_may)

cambio = [x if x != 'pera' else 'manzana' for x in frutas]
print('Cambio pera por manzana: ', cambio)

Frutas con ñ:  ['piña']
Frutas diferentes a pera:  ['banano', 'piña', 'mango']
Frutas en mayúsculas:  ['BANANO', 'PERA', 'PIÑA', 'MANGO']
Cambio pera por manzana:  ['banano', 'manzana', 'piña', 'mango']

##12.Referencias

- Sitio w3schools: https://www.w3schools.com/.
- Enlace con las funciones incluidas con Python: https://www.w3schools.com/python/python_ref_functions.asp.