[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/FerneyOAmaya/DataLiteracy/blob/master/0_Python.ipynb)

#Introducción a Pyhton

Se presenta un breve resumen de los principales elementos para programar empleando Python.

Por:

Ferney Amaya Fernández <br>
https://ferneyoamaya.github.io/ <br><br>

Contenido:
1. Generalidades.
2. Tipos de datos.
3. Operadores.
4. Estructuras de control.
5. Referencias.

## 1.Generalidades

Algunos aspectos de Python:
- Emplea una nueva linea para completar el comando, no requiere punto y coma al final.
- Emplea identación (sangría) en lazos, funciones, clases. Debe usarse al menos 1 espacio en blanco.

### 1.1. Variables

Las variables son creada al asignarles un valor por primera vez.

Para nombrar variables:
- Son sensibles a las mayúsculas y minúsculas (case-sensitive), las variables _Carro_ y _carro_ son diferentes.
- Su nombre debe iniciar con letra o guión bajo (_), no con un número.
- Pueden contener solo caracteres alfanuméricas y guión bajo  (A-z, 0-9, _ ).

El comando print() es empleado para visualizar el contenido de una variable.

Asignar a la variable x el valor 5 y luego visualizar el valor:

In [ ]:
x = 5
print(x)

5

Pueden asignarse valores a múltiples variables en una línea:

In [ ]:
x, y, z = "Manzana", "Azul", "Edificio"
print(x,y,z)

Manzana Azul Edificio

### 1.2. Comentarios

Pueden ser de una o varias líneas:

\# Comentario de una sola línea
<br> <br>
""" <br>
Comentario <br>
de varias <br>
líneas <br>
"""

## 2.Tipos de datos

Los tipos de datos nativos de Python son:
- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

Tomado de: 
https://www.w3schools.com/python/python_datatypes.asp.

Se abordarán los tipos numéricos (int, float, complex); las cadenas de caracters (strings), las listas (list), y los tipos tuple, bool y range.

El comando type() entrega el tipo de datos de una variable.

### 2.1.	Tipos numéricos

Hay varios tipos de representación numerica: enteros (int), punto flotante (float) y números complejos (complex). 

Los valores decimales son separados por punto.

Los enteros:

$$-\infty, ...,-2,-1,0,1,2,, ...,\infty$$

Lafunción type() entrega el tipo de variable.

In [ ]:
a = 5       #Entero
b = 5.0     #Flotante
c = 1+2j    #Complejo
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

### 2.2. Cadenas de caracteres

Las cadenas de caracteres (strings) pueden definirse empleando comillas simples o dobles. Es decir 'Hola' es lo mismo que "Hola".

Cada elemento de la cadena puede indexarse de dos formas:
- índice positivo: el índice del primer elemento es 0.
- índice negativo: el índice del último elemento es -1.

In [ ]:
a = "Hol@ mundo"
print(a[3])
print(a[-7])

@
@

Se puede acceder a varios elementos:

In [ ]:
a = 'Hol@ mundo'
print(a[0:3])    #desde posición 0 a 2: 0='H', 1='o', 2='l'
print(a[:4])     #desde posición 0 a 3: 0='H', 1='o', 2='l', 3='@' 
print(a[5:])     #desde posición 5 a final
print(a[0:9:2])  #desde posición 0 a 8
print(a[0:9:2])  #desde posición 0 a 8, agrupa de a 2 y accede al primero del grupo
print(a[0:9:3])  #desde posición 0 a 8, agrupa de a 3 y accede al primero del grupo

Hol
Hol@
mundo
Hl ud
Hl ud
H@u

En la cadena pueden insertarse caracteres de escape, algunos son:
- \\'	:Single Quote	
- \\\	:Backslash	
- \n	:New Line	
- \r	:Carriage Return	
- \t	:Tab	
- \b	:Backspace	
- \f	:Form Feed	

Tomado de:
https://www.w3schools.com/python/gloss_python_escape_characters.asp

In [ ]:
a = 'Hola\nmundo'
print(a)

Hola
mundo

A continuación se presentan algunos ejemplos de operaciones con strings:

In [ ]:
cadena = ' CURSO de python '
print(cadena.upper())             #en mayúsculas
print(cadena.lower())             #en minúsculas
print(cadena.strip())             #elimina espacios al inicio y al final
print(cadena.replace('de', '*'))  #reemplaza caracteres
print(cadena.split('de'))         #separa de acuerdo a un conjunto de caracteres
print(3*cadena)                   #repite 3 veces

 CURSO DE PYTHON
 curso de python
CURSO de python
 CURSO * python
[' CURSO ', ' python ']
 CURSO de python  CURSO de python  CURSO de python

El número de elementos de cadena de caracteres se obtiene con len() y pueden concaternarse cademas empleando +:

In [ ]:
cadena = ' CURSO de python '
print(len(cadena))

a = 'Hola' + ' ' + 'mundo'
print(a, len(a))

17
Hola mundo 10

El mezclar cadenas de caracteres con números generará un error. Intente ejecutar las siguientes líneas en Python:

edad = 18 <br>
cadena = 'Hola mundo, tengo ' + edad + 'años' <br>
print(cadena) <br>

El conjunto de métodos integrados en Python para cadenas de caracteres (strings) puede revisarse en:
https://www.w3schools.com/python/python_ref_string.asp

### 2.3. Listas

Las listas (List) son colecciones o arreglos de elementos con las siguientes características:
- elementos ordenados
- elementos que pueden modificarse
- admite duplicados
- los elementos no necesariamente deben ser del mismo tipo de datos.

Se indexan y ase asignan valores en forma similar a las cadenas de caracteres (str).

In [ ]:
a = [1, 2, 2.2, 3.5, 'python']
print(a[2]) 
print(a[3:5])
a[1:4] = ['verde']
print(a)

2.2
[3.5, 'python']
[1, 'verde', 'python']

A continuación se presentan algunos ejemplos de operaciones con listas:

In [ ]:
a = ['naranja', 'pera', 'mango', 'piña']
a.insert(3,'manzana')         #inserta elemento en el índice 3
print(a)
a.append('guayaba')           #adiciona elemento al final
print(a)
a.remove('pera')              #elimina un elemento especificado por valor
print(a)
a.sort()                      #ordena
print(a)
anum = [100, 50, 65, 82, 23]
anum.sort(reverse = True)
print(anum)
print(len(a))

['naranja', 'pera', 'mango', 'manzana', 'piña']
['naranja', 'pera', 'mango', 'manzana', 'piña', 'guayaba']
['naranja', 'mango', 'manzana', 'piña', 'guayaba']
['guayaba', 'mango', 'manzana', 'naranja', 'piña']
[100, 82, 65, 50, 23]
5

El conjunto de métodos integrados en Python para Listas puede revisarse en: https://www.w3schools.com/python/python_lists_methods.asp

### 2.4. Diccionarios
Los diccionarios (dict) son usados para almacernar colecciones de pares de llave:dato (key:value) y tienen las siguientes características:
- a partir de la versión de Python 3.7 son ordenados
- elementos que pueden modificarse
- admiten cualquier tipo de datos
- no permiten duplicados, los duplicados sobre-escriben los valores existentes.

A continuación se presenta como se crea, se accede, se cambian y eliminan campos del diccionario:

In [ ]:
diccionario = {
  'Nombre': 'Juan',
  'Profesión': 'Ingeniero',
  'Edad': 19
}
print(diccionario)
print(diccionario['Profesión'])
print(diccionario['Edad'])
diccionario['Edad'] = 20
print(diccionario)
diccionario.pop('Profesión')
print(diccionario)

{'Nombre': 'Juan', 'Profesión': 'Ingeniero', 'Edad': 19}
Ingeniero
19
{'Nombre': 'Juan', 'Profesión': 'Ingeniero', 'Edad': 20}
{'Nombre': 'Juan', 'Edad': 20}

A continuación se presentan algunos ejemplos de operaciones con diccionarios:

In [ ]:
d = {
  'María': 'Nombre propio',
  'Correr': 'Verbo',
  'Casa': 'Sustantivo',
  'Jose': 'Nombre propio',
  'Jugar': 'Verbo',
}
print(d.get('Correr'))    #Obtiene un parámetro del diccionario 
print(d.keys())
print(d.values())

Verbo
dict_keys(['María', 'Correr', 'Casa', 'Jose', 'Jugar'])
dict_values(['Nombre propio', 'Verbo', 'Sustantivo', 'Nombre propio', 'Verbo'])

El conjunto de métodos integrados en Python para los diccionarios puede revisarse en: https://www.w3schools.com/python/python_dictionaries_methods.asp

### 2.5. Otros tipos de datos y como especificar el tipo de datos

Los tipos booleano pueden tener solo dos valores: True, False.

Las tuplas (Tuple) son una secuencia ordrdenada de elementos como en una lista. La diferencia es que una vez creada la tupla, esta no puede modificarse, solo añadir elementos.

Los tipos range se crean con: range(). Por ejemplo, con el comando range(3) se crean los valores 0, 1, 2.

Puede especificarse el tipo de datos al crear una variable o asignarle un valor con los comandos:
- float()
- int()
- str()
- bool()
- complex()
- list()

In [ ]:
print(int(2.34))
print(float(2))
print(complex(2))

2
2.0
(2+0j)

## 3.Operadores

El contenido de esta sección se basa en el contenido que aparece en:
https://www.w3schools.com/python/python_operators.asp

Python clasifica los operadores en los siguientes grupos:
- Aritméticos
- Asignamiento
- Comparación
- Lógicos
- De identidad
- De mebresía
- Entre bits

### 3.1. Operadores aritméticos

Empleados entre variables numéricas:

- Adición +	
- Subtracción -	
- Multiplicación *	
- División	/	
- Módulo de la división %	
- Exponenciación **	
- Resultado de la división redondeando al menor entero //

In [ ]:
x = 7
y = 3
print(x+y, x-y, x*y, x/y)
print(x%y, x**y, x//y)

10 4 21 2.3333333333333335
1 343 2

### 3.2. Operadores de asignamiento

Para asignar un valor a una variable se emplea el operador =.

Los operadores de asignamiento permiten simplificar la escritura al emplear operadores aritméticos:

por ejemplo, al escribir:

x 'operador' = 'valor'

equivale a:

x = x 'operador' 'valor'

En estos ejemplos, la variable x debió asignarse previamente.

Ejemplos:

In [ ]:
x = 7
x +=3
print(x)
x *=3 
print(x)

10
30

### 3.3. Operadores de comparación

Empleados para comparar dos valores, devuelve un valor lógico:
- Igual ==	
- No igual !=	
- Mayor que >	
- Menor que <	
- Mayor o igual que >=	
- Menor o igual que <=

In [ ]:
x = 7
y = 3
print(x == y)
print(x != y)
print(x > y)

False
True
True

### 3.4. Operadores lógicos

Empleados para combinar operaciones de comparación:

- and
- or
- not

In [ ]:
x = 7
y = 3
print(x==y and x>y)
print(x!=y and x>y)
print(not(x==y and x>y))

False
True
True

### 3.5. Operadores de identidad

Empleados para identificar si dos variables comparten la misma ubicación en memoria:
- is
- is not

In [ ]:
x = 7
y = 3
z = x
print(x is y)
print(x is z)

False
True

Es importante tener en cuenta que al asignar una variable a otra, la nueva variable comparte la misma posición de memoria, como ocurre con las variables x y z en el ejemplo anterior.

### 3.6. Operadores de membresía

Empleados para saber si una secuencia está presente o no en un objeto, devuelve un valor lógico:

- in
- not in

In [ ]:
s = 'Curso de Python MinTIC 2022'
print('En String: ','de' in s)
print('En String: ','para' in s)

l = ['manzana', 'mango']
print('En lista: ', 'mango' in l)
print('En lista: ', ' pera' in l)

d = {
  'María': 'Nombre propio',
  'Correr': 'Verbo',
  'Casa': 'Sustantivo',
  'Jose': 'Nombre propio',
  'Jugar': 'Verbo'
}
print('En diccionario: ', 'Correr' in d)
print('En diccionario: ', 'Saltar' in d)

En String:  True
En String:  False
En lista:  True
En lista:  False
En diccionario:  True
En diccionario:  False

### 3.7. Operaciones entre bits

Realizan la operación indicada bit a bit:

- & 	AND
- |	OR
- ^	XOR
- ~ NOT
- <<	desplazamiento a izquierda insertando ceros
- \>>	desplazamiento a derecha conservando el signo

In [ ]:
x = 7     #En binario en 4 bits es '0111'
y = 3     #En binario en 4 bits es '0011'
print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << y)
print(x >> y)

3
7
4
-8
56
0

## 4.Estructuras de control

Las estructuras de control permiten modificar el flujo de ejecución de las instrucciones:
- if elif else
- for
- while

En Python no se define la estructura switch.

En estas estructuras debe emplearse identación (sangría).

### 4.1 if elif else

El if debe tener instrucciones, si por alguna razón no se requieren, puede colocarse pass para evitar el error.

In [ ]:
x = 7
y = 3

if x>y:
 print('If: mayor')
elif x<y:
 print('Elif: menor')
else:
 print('Else: igual')

If: mayor

### 4.2 for

La forma común de usar el for es como se presenta en el ejemplo:

In [ ]:
for x in range(3):
 print(x)

0
1
2

### 4.3 while

La forma común de emplear el while es como se presenta en el ejemplo:

In [ ]:
x = 0
while(x < 4):
 print(x)
 x += 1

0
1
2
3

### 4.4 Comprensión de listas
La comprensión de listas ofrece en una linea la posibilidad de crear listas a partir de valores de una lista existente como se observa en los siguientes ejemplos:

In [ ]:
frutas = ['banano', 'pera', 'piña', 'mango']
fruta_ñ = [x for x in frutas if 'ñ' in x]
print('Frutas con ñ: ', fruta_ñ)

otras_pera = [x for x in frutas if x != 'pera']
print('Frutas diferentes a pera: ', otras_pera)

frutas_may = [x.upper() for x in frutas]
print('Frutas en mayúsculas: ', frutas_may)

cambio = [x if x != 'pera' else 'manzana' for x in frutas]
print('Cambio pera por manzana: ', cambio)

Frutas con ñ:  ['piña']
Frutas diferentes a pera:  ['banano', 'piña', 'mango']
Frutas en mayúsculas:  ['BANANO', 'PERA', 'PIÑA', 'MANGO']
Cambio pera por manzana:  ['banano', 'manzana', 'piña', 'mango']

##5.Referencias
- https://www.w3schools.com/.